@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #fa0;
  background: #060606;
  font-family: 'Lato', sans-serif;
}

:global(#root) {
  height: 100vh;
}
